@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

h2 {
    color: #2C5C8C;
    font-weight: 800;
    
}

p {
    line-height: 1.8;
}
/*navbar*/
.bookingnavigator{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(./images/Balcon.jpeg) center/cover no-repeat;
    height: 70vh;
}
.roomnagivator{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(./images/balcon\ 2.JPG) center/cover no-repeat;
    height: 100vh;
}
.activitiesnagivator{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/fishing.JPG) center/cover no-repeat;
    height: 100vh;
}

.explorenavigator{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),url(./images/facadedroite.jpg) center/cover no-repeat;
    height: 100vh;
}
.navigator{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/frontfacade.JPG) center/cover no-repeat;
    height: 100vh;
}

.navbar{
    background-color: #ffffff;
    z-index: 1000;
}

.navbar-nav {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between; 
  align-items: center; 
}

.navbar-nav li {
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}
.navbar-nav li a.nav-link {
  color: black;
  position: relative;
  text-decoration: none;
}
.navbar-nav li a.nav-link:hover {
  color: black;
  text-decoration: none;
}
.navbar-nav li a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2c5c8c; 
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s linear;
}
.navbar-nav li a.nav-link:hover:before {
  transform: scaleX(1);
}

.navbar-logo {
  max-height: 60px;
} 
.navbar-toggler {
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar-book-button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  transition: transform 0.5s ease, color 0.5s ease;
}

.navbar-book-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
  transform: scale(0.85);
}
/* Center-align the items in the collapsed (hamburger) menu */
@media (max-width: 991.98px) {
  
  .navbar-collapse {
      text-align: center;
  }


  .navbar-nav li {
      margin-left: 0; 
      font-size: 18px;
  }

  .navbar-toggler {
      margin: 0 auto; 
      display: block;
  }

  .navbar-book-button {
      margin: 0 auto; 
      display: block;
  }

}



.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(229, 225, 218);
  text-align: center;
  z-index: 500;
  opacity: 0; 
  animation: fade-up 0.5s ease-in-out forwards;
}

@keyframes fade-up {
  from {
      opacity: 0;
      transform: translate(-50%, 100%);
  }
  to {
      opacity: 1; 
  }
}

    .welcome-header h1{
      font-size: 60px;
      font-weight: 600;
    }
    .welcome-header span{
      font-size: 32px;
      font-weight: 800;
    }


/* Global Styles */
body {
    background-color: #fffdfb;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}




.text-header {
    padding: 3rem;
}

.text-header h1{
    color: #2E2E2E;
    font-weight: 600;
    text-align: center;
    font-style:italic;
    font-size: 3.5vw;
}

.gallery-header {
    text-align: center;
    padding: 10vh;
}

.gallery-header h2 {
    font-weight: 800;
}

#slides {
    height: 30%;
    width: 100%;
}

.booking-form {
    padding-top: 10vh;
    background-color: #F5F5F5;
}


.booking-form h2 {
    padding-bottom: 6vh;
    font-weight: 800;
}

.booking-pretext {
    padding: 6vh 3vw 3vh 6vw;
}

.booking-options {
    padding: 6vh 3vw 3vh 6vw;
}
/*the section one about marvilla*/

.section1 {
    height: auto;
    padding: 2rem;
    display: flex;
    background-color: #fffdfb;
    align-items: center;
    
}

.section1-text {
    width:50%;
    padding:2vw;
    top: 30%;
    padding: 2rem;
}
.section1-text h4{
    font-weight: 60;
    font-size: 14px;
    text-transform: uppercase;

}
.section1-text h2{
    font-weight: 800;
    font-size: 42px;
    padding: 2rem 0 2rem 0;
    width: auto;
}
.section1-text p {
    font-weight: 800;
    font-size: 14px; 
    color: #3a3a3a;
}

.section1-image {
    width: 50%;
    height: auto;
    display: flex;
    overflow: hidden;
    padding: 2vw;
    
}
@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(20px); 
  }
  to {
      opacity: 1;
      transform: translateY(0); 
  }
}

.section1-image img {
    width: 100%;
    position: relative;
    padding : 2rem;
    animation: fadeUp 3s ease-in-out forwards; 
    scroll-margin-top: 50vh; 
   
}
/*explore button design*/
.explore-button {
    display: inline-block;
    border: 2px solid #3a3a3a;
    color: #3a3a3a;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 800;
    /* font-family: 'Roboto', sans-serif; */
    text-transform: capitalize;
    transition: transform 0.5s ease, color 0.5s ease;
}

.explore-button:hover {
  transform: scale(0.85);
    background-color: #2C5C8C;
    border: transparent;
    color: white;

}
/*section 2*/


/*new overlay for section 2*/
.bedimage { 
    overflow: hidden;
    height: 60vh;
}
.bedimage img{
    width: 100%;
    height: auto;
    filter: brightness(0.4);
}
h3 {
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.room-button{
    display: inline-block;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    transition: transform 0.5s ease, color 0.5s ease;
}
.room-button:hover{
  transform: scale(0.85);
    background-color: #ffffff;
    border: transparent;
    color: black;
}
/*end of section 2*/
/* .section3 h2 {
    padding: 10vh;
    text-align: center;
    justify-content: center;
    font-weight: 800;
}

.section3 li {
    text-decoration: none;
} */


.Activities h2 {
    text-align: center;
    font-weight: 800;
    margin: 8vh;
  }
  .Activities p{
    text-align: center;
    font-weight: 800;
  }
  .card {
    position: relative;
    overflow: hidden;
    height: 300px; 
    margin: 2vh;
    border-radius: 0;
  }

  .card-img {
    height: 50vh; 
    object-fit: cover; 
    border-radius: 0;
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
  }

  .card:hover .card-img-overlay {
    display: flex; 
  }

  .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .card-button {
    border: 1px solid #ffff;
    color: #ffff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
  }
  .card-button:hover {
    background-color: #ffffff;
    border: transparent;
    color: black;

}


/* Center-align the text within the card */
.amenities {
    background: whitesmoke;
    text-align: center;
    padding: 3rem;
    color: #2C5C8C;
}
.amenities h2 {
    
    font-weight: 800;
    color:#2C5C8C;
}
.amenities p{
    font-weight: 600;
    font-size: 14px;
    color:#3a3a3a;
}
.amenities h5{
    width: auto;
}

.amenities ion-icon {
    font-size: 80px;
    color: #3a3a3a;
    transition: transform 0.5s ease, color 0.5s ease;
}
.amenities ion-icon:hover{
  transform: scale(0.85);
    color: #2C5C8C; 
}


footer {
    min-height: 20vh;
    background-color: #2C5C8C;
    text-align: center;
    padding: 3vi;
}

.footer-logo img{
    width: 50%;
}

/* Add your custom CSS styles here */
.social-media-links {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    color: #f5f5f5;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .social-icon :hover {
    color: #0AC2C2;
  }
  
  
  @media (max-width: 992px) {

  
}
/*  Light blue: #7bc7c5
    blue: #2d54a1
    Dark blue: #273576 */

@media (max-width: 767px) {
        
        .section1 {
            flex-direction: column-reverse;
            align-items: center;
            padding: 0;
        }
    
        .section1-text {
            width: 100%;
            text-align: center;
        }
    
        .section1-text h2 {
            font-size: 2rem; 
        }
    
        .section1-text p {
            font-size: 1rem;
        }
    
        .section1-image {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    
        .section1-image img {
            width: 100%;
            margin-top: 2rem;
        }
        
        .card-img-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.6);
            transition: background-color 0.3s ease;
          }
        .card-img{
            height: 100%;
        }
        .section2{
            width: 100% !important;
        }
        .bedimage{
            height: 50vh;
           overflow: hidden;
        }
        .bedimage img{
            width: 100vh;
            
        }
       
    
        

}
    /*explore maravilla*/
    .explore1 {
        height: auto;
        padding: 8rem 2rem;
        display: flex;
        flex-direction: row;
        background-color: #fffdfb;
        align-items: center;
       
    }
    
    .explore1-text{
        flex: 1;
        padding-right: 10px;
        padding: 5rem;
    }
    
    .explore1-text h2{
        font-weight: 800;
        font-size: 42px;
        padding: 2rem 0 2rem 0;
        width: auto;
        
    }
    .explore1-text p {
        font-weight: 800;
        font-size: 25.2px; 
        color: #3a3a3a;
    }
    
    .explore1-image {
        width: 50%;
        height: auto;
        overflow: hidden;
        margin-right: 4rem;
        padding: 0 2rem;
    }
    
    .explore1-image img {
        width: 100%;
        position: relative;
    }
    .explore2 {
        text-align: center;
        padding: 5rem 16rem;
      }
      .explore2 h2{
        font-size: 42px;
        font-weight: 800;
      }
      .explore2 p{
        font-size: 25.2px;
        font-weight: 600;
      }
    .explore3{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .explore3-image{
          padding: 0 5rem;
          
    }
    .explore3-image img{
      width: 100%;
      height: 80vh;
      
    }
    .explore3-text{
      padding: 5rem;
    }
    .explore3-text p{
        font-weight: 800;
        font-size: 20px; 
        color: #3a3a3a;
    }
    @media (max-width: 768px) {
        .explore1 {
          flex-direction: column;
          align-items: center;
          padding: 2rem; 
        }
      
        .explore1-text {
          flex: 1;
          padding: 2rem; 
        }
        .explore1-text h2{
            text-align: center;
        }
        .explore1-text p{
            text-align: center;
        }
      
        .explore1-image {
          width: 100%;
          margin-right: 0;
        }
      
        .explore2 {
          padding: 4rem 2rem; 
        }
      
        .explore2 h2 {
          font-size: 32px; 
        }
      
        .explore2 p {
          font-size: 20px; 
        }
      
        .explore3-image {
          padding: 0 2rem; 
        }
        .explore3-image img{
          height: auto;
        }
      
        .explore3-text {
          padding: 2rem; 
        }

      
        .explore3-text p {
          font-size: 20px;
          text-align: center;
        }
      }
/*Activites maravilla*/
.heading-activities {
    text-align: center;
    padding: 5rem 20rem;
  }
  .heading-activities p{
    font-size: 24px;
    font-weight: 600;
  }
  .activities1 {
      height: auto;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      background-color: #fffdfb;
      align-items: center;
     
  }
  
  .activities1-text{
      flex: 1;
      padding-right: 10px;
  
      padding: 5rem;
  }
  
  .activities1-text h2{
      font-weight: 800;
      font-size: 42px;
      padding: 2rem 0 2rem 0;
      width: auto;
  }
  .activities1-text p {
      font-weight: 600;
      font-size: 20px; 
      color: #3a3a3a;
  }
  
  .activities1-image {
      width: 50%;
      height: auto;
      overflow: hidden;
      margin-right: 4rem;
      padding: 0 2rem;
  }
  
  .activities1-image img {
      width: 100%;
      position: relative;
      animation: fadeUp 3s ease-in-out forwards; 
      scroll-margin-top: 50vh; 
  }
  
  
  
  .activities2 {
      height: auto;
      padding: 2rem;
      display: flex;
      flex-direction: row;
      background-color: #fffdfb;
      align-items: center;
  }
  
  .activities2-text{
      flex: 1;
      padding-right: 10px;
      padding: 0 5rem 0 2rem;
  }
  
  .activities2-text h2{
      font-weight: 800;
      font-size: 42px;
      padding: 2rem 0 2rem 0;
      width: auto;
  }
  .activities2-text p {
      font-weight: 600;
      font-size: 20px; 
      color: #3a3a3a;
  }
  
  .activities2-image {
      width: 50%;
      height: auto;
      overflow: hidden;
      margin-right: 4rem;
      padding: 0 2rem;
  }
  
  .activities2-image img {
      width: 100%;
      position: relative;
      animation: fadeUp 3s ease-in-out forwards;
    scroll-margin-top: 50vh; 
  }
  @media (max-width: 989px) {
      .heading-activities {
      padding: 4rem 2rem;
    }
  
      .activities1{
          flex-direction: column-reverse;
          align-items: center;
          padding: 0;
      }
      .activities1-text {
              width: 100%;
              text-align: center;
      }
      
      .activities1-text h2 {
              font-size: 2rem;
              text-align: center;
      }
      
      .activities1-text p {
              font-size: 1rem;
              text-align: center;
      }
      
      .activities1-image {
                margin: 0;
                padding: 0;
              width: 100%;
              margin-bottom: 1.5rem;
      }
      
      .activities1-image img {
              width: 100%;
              margin-top: 2rem;
      }
      .activities2{
          flex-direction: column;
          align-items: center;
          padding: 0;
      }
      .activities2-text {
              width: 100%;
              text-align: center;
      }
      
      .activities2-text h2 {
              font-size: 2rem; 
      }
      
      .activities2-text p {
              font-size: 1rem;
      }
      
      .activities2-image {
              width: 100%;
              margin-bottom: 1.5rem;
              margin: 0;
              padding: 0;
      }
      
      .activities2-image img {
              width: 100%;
              margin-top: 2rem;
      }
  }

/*accomodation*/
.explore2 {
  text-align: center;
  padding: 5rem 15rem;
}
.explore2 h2{
  font-size: 36px;
  font-weight: 800;
}
.explore2 p{
  font-size: 24px;
  font-weight: 600;
}

.rooms {
display: flex;
align-items: flex-start;
padding: 2rem;
margin-left: 5rem;
}

.room-image {
width: 30%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 5vw;
}

.room-image img {
width: 100%;
padding: 2rem;
}

.room-text {
width: 25%;
padding: 0 10px;
margin-top: 2rem;

}
.room-text h2{
font-weight: 800;
font-size: 32px;
}
.room-text p{
font-weight: 600;
font-size: 16px;
}
.room-text span{ 
font-weight: 800;
font-size: 16px;
padding: 1rem;
}
.book-now-button{
 display: flex;
justify-content: center;
margin: 6rem 12rem;

}
.room-book-button {
text-align: center;
border: 2px solid #3a3a3a;
color: #3a3a3a;
padding: 10px 20px;
text-decoration: none;
font-weight: 800;
text-transform: capitalize;
transition: transform 0.5s ease, color 0.5s ease;
}

.room-book-button:hover {
transform: scale(0.85);
background-color: #2C5C8C;
border: transparent;
color: white;
}

.line{
margin: 0 18rem 0 14rem;
}

@media (max-width: 971px){
.explore2 {
  padding: 4rem 1rem; 
}

.explore2 h2 {
  font-size: 32px; 
}

.explore2 p {
  font-size: 20px; 
}
.rooms {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 0;
}

.room-image {
  width: 70%;
  margin-left: 0;
}

.room-text {
  width: 70%;
}

.book-now-button {
  margin: 2rem 0;
}

.line {
  margin: 1rem 0;
}
}
